/* l1 */
.l1{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 120px;
    /* background-color: aqua; */
    align-items: center;
}
.in-l1-log{
    height: 30px;
}
.in-l1{
    display: flex;
    gap: 50px;
    font-size: 20px;

    
}
.in-l1-group{
    display: flex;
    gap: 5px;
}
.in-l1-Brand{
    color: #009a00;
    font-size: 25px;
    
    
}
.in-l1-Brand-2{
    display: inline;
    font-size: 26px;
    font-weight: 1000;
}
.in-l1-b1{
    background-color: white;
    outline: 1px solid rgb(218, 218, 218);
    width: 90px;
}
.in-l1-b2{
    color: white;
    width: 160px;
    background-color: #2aa252;
    margin-left: 20px;

}
/* l2 */
.l2{
    display: flex;
    justify-content: center;
    gap: 50px;
    color: rgb(121, 121, 121);
    font-weight: 540;
    font-size: 17px;
    /* background-color: yellow; */

}
.star{
    height: 25px;
    margin-right: 5px;
}
.in-l2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* l3 */
.l3{
    text-align: center;
    /* background-color: cyan; */
    font-size: 60px;
    font-weight: 600;
}
.in-l3-green{
    display: inline;
    color: #2aa252d6;
}
/* l4 */
.l4{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    text-align: center;
    color: gray;
    font-size: 20px;
    line-height: 35px;
    margin-top: -30px;
}
.in-l4{
    display: inline;
    text-decoration: underline;
}
/* l5 */
.l5{
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}
.in-l5{
    margin-right: 30px;
}
.in-l5-Rated{
    font-size: 20px;
    margin-right: 20px;
}
.in-l5-log{
    height: 30px;
    margin-right: 3px;
}
/* l6 */
.l6{
    text-align: center;
    /* background-color: yellow; */
    margin-top: -20px;
}
.in-l6-b1{
    color: white;
    height: 70px;
    width: 210px;
    background-color: #2aa252;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 10px #d3ffd3;
}
/* l7 */
.l7{
    /* background-color: cyan; */
    
    width: 1250px;
    margin-top: -30px;
    align-self: center;
}
hr{
    
    background-color: rgba(0, 0, 0, 0.127);
    border: none;
    height: 1px;
    
}
/* l8 */
.l8{
    /* background-color: yellow; */
    text-align: center;
}
.in-l8-b1{
    width: 120px;
    color: #2aa252;
    background-color: #caffca;
}
/* l9 */
.l9{
    margin-top: -20px;
    text-align: center;
    font-size: 43px;
    /* background-color: cyan; */
}
.in-l9-grow{
    color: #2aa252d8;
}
/* body */
body{
    display: flex;
    flex-direction: column;
    gap: 65px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
}
button{
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 20px;
}